.message-row {
  margin-bottom: 0.1rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.my-message {
  margin-left: auto;
  margin-right: 0;
  background-color: #cfe9ba !important;
}

.message {
  position: relative;
  border-radius: 8px;
  background-color: white;
  width: fit-content;
  max-width: 500px;
  min-width: 75px;
  padding: 4px;
  font-weight: 400;
  font-size: large;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
  line-break: anywhere;
}

#timestamp {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}

#fullName {
  text-decoration: underline;
}